menu "cesa options"
	depends on MV_INCLUDE_CESA

config  MV_CESA
	bool "Support for Marvell Cryptographic Engine and Security Acceleration"
	default y

config	MV_CESA_OCF
	tristate "Support for Marvell CESA OCF driver"
	depends on MV_CESA && OCF_OCF
	---help---
	  Choosing this option will enable you to use the Marvell Cryptographic Engine and
	  Security Accelerator, under the OCF package.

config  MV_CESA_TOOL
	tristate "Support for Marvell CESA Tool"
	depends on MV_CESA
	---help---

config MV_CESA_CHAIN_MODE_SUPPORT
	bool "Support CESA chain-mode"
        depends on MV_CESA && MV_ETH_NFP_SEC
        default n
         ---help---
        Choosing this option will enable crypto engine(CESA) chain mode support.
	Warning: currently this feature is supported only by NFP-IPSec.

config  MV_CESA_TEST
	bool "Support for Marvell CESA test driver"
	depends on MV_CESA_TOOL && !MV_CESA_OCF
	---help---
	  Choosing this option will enable you to use the Marvell Cryptographic Engine and
	  Security Accelerator, with the mv_cesa_tool in test mode.

endmenu


