menuconfig SCSI_MVSATA_BSP422
        tristate "Marvell BSP SATA driver (Version 422)"
        depends on PCI
        ---help---
		This module is abstracted from arch/arm/plat-feroceon.

if SCSI_MVSATA_BSP422	

config  MV_SATA_SUPPORT_ATAPI_BSP422
        bool "Support ATAPI (CR-ROM/DVD-ROM) devices"
        default n

config  MV_SATA_ENABLE_1MB_IOS_BSP422
        bool "Enable 1 MByte requests"
        default n
        help
          Set the maximum io request size to 1 MByte for HDD's the support LBA48 feature,
          say No if you want to keep the maximum limit on 128KBytes.
choice
	prompt "Debug level"
	default SATA_NO_DEBUG_BSP422

config SATA_NO_DEBUG_BSP422
	bool "No Debug"

config SATA_DEBUG_ON_ERROR_BSP422
	bool "Debug on errors"
	help
	  print debug messages when EDMA/System/HDD errors occur.

config SATA_FULL_DEBUG_BSP422
	bool "Full debug"

endchoice

endif #SCSI_MVSATA_BSP422
